osx_image: xcode9
language: objective-c
before_install:
  - brew tap yonaskolb/mint https://github.com/yonaskolb/mint.git
  - brew install mint
install: carthage bootstrap --platform iOS
script: build.sh
